/* Copyright 2019-2020 Smart Chain Arena LLC. */

:root {
    --primary: #006dcc;
    --primary-text-color: #212529;

    --background-color: #fafafa;
    --link-color: #01608C;
    --button-hover-color: #e8e8e8;
    --menu-bg-color: #f1f1f1;
    --border-color: #D3D3D3;

    --output-bgok: #f1f1fa;
    --output-bgko: #faf1f1;

    --danger-color: #dc3545;
    --dataColumn-color: #290075;
    --simulationBuilder-bg-color: #fffdeb;
    --tabcontentshow-bg-color: #ccffcc;

    --key-address-color: #006600;
    --timestamp-color: #6600AA;
    --code-type-color: #331188;
    --code-variable-color: #aa0000;
    --code-store-color: #0000aa;
    --code-constant-color: #000088;
    --code-cons-color: #0000aa;
    --code-comment-color:#006600;

}

button.editor-menu-btn:not([disabled]):hover {
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

button.editor-menu-btn:disabled,
button.editor-menu-btn:disabled:hover {
    opacity: .5;
    cursor: default;
    background-color: initial;
    text-decoration: none;
}

#outputPanel.empty-output {
    background: rgba(255, 255, 255, .9) url(../../smartPY.only.transp.png) center/40% no-repeat;
    background-blend-mode: color;
}

#logo-image {
    background: url(../../smartPY_horizon.transp.png) left/75% no-repeat;
}

#editor-link {
    background-image: url(../svgs/terminal.svg);
}

#faucet-link {
    background-image: url(../svgs/faucet.svg);
}

#explorer-link {
    background-image: url(../svgs/search.svg);
}

#prettifier-link {
    background-image: url(../svgs/stream.svg);
}

#help-link {
    background-image: url(../svgs/question.svg);
}

  @media (prefers-color-scheme: dark) {
    :root {
        --primary: #006dcc;
        --primary-text-color: #fafafa;

        --background-color: #212529;
        --link-color: #66AACC;
        --button-hover-color: slategray;
        --menu-bg-color: #05385C;
        --border-color: #D3D3D3;

        --output-bgok: #05364a;
        --output-bgko: #4a3605;

        --danger-color: #dc3545;
        --dataColumn-color: blanchedalmond;
        --simulationBuilder-bg-color: #444488;
        --tabcontentshow-bg-color: darkgreen;

        --key-address-color: chocolate;
        --timestamp-color: aqua;
        --code-type-color: magenta;
        --code-variable-color: khaki;
        --code-store-color: greenyellow;
        --code-constant-color: red;
        --code-cons-color: hotpink;
        --code-comment-color: chocolate;

    }

    button.editor-menu-btn:not([disabled]):hover {
        color: var(--background-color);
        background-color: #e8e8e8;
    }

    .right-submenu button,
    .pretty-submenu button {
        background-color: var(--primary-text-color);
    }

    #outputPanel.empty-output {
        background: rgba(30, 30, 30, .8) url(../../logo-transp.png) center/40% no-repeat;
        background-blend-mode: color;
    }

    #logo-image {
        background: url(../../dm-logo.png) left/75% no-repeat;
    }

    .modal-content {
        background-color: var(--menu-bg-color);
    }

    /** Dark mode header icons*/
    #editor-link {
        background-image: url(../svgs/dm-terminal.svg);
    }

    #faucet-link {
        background-image: url(../svgs/dm-faucet.svg);
    }

    #explorer-link {
        background-image: url(../svgs/dm-search.svg);
    }

    #prettifier-link {
        background-image: url(../svgs/dm-stream.svg);
    }

    #help-link {
        background-image: url(../svgs/dm-question.svg);
    }
}


body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
}

body {
    background-color: var(--background-color);
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: max-content max-content minmax(1px, 1fr);
    grid-template-areas:
        "menu menu menu"
        "submenu submenu submenu"
        "editorDiv centerCol outputPanel"
}

button {
    border-radius: 3px;
    background-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    color: inherit;
}

button[onclick]:hover,
button[data-toggle]:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

button.text-button {
    border: none;
    background-color: inherit;
    color: var(--link-color);
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

button.text-button:hover {
    text-decoration: underline;
    box-shadow: none;
    font-weight: bold;
}

button.text-button:active, button.text-button:focus {
    outline: none;
    font-weight: bold;
}

/** Main Nav **/
header {
    position: fixed;
    width: 100%;
    background-color: inherit;
    top: 0;
    z-index: 99999999999;
}

header .navbar-toggler {
    background-color: #fafafa; /** Note: same color in both light and dark mode */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--menu-bg-color);
}

.logo {
    margin: 0.6em;
}

.logo img,
.logo div {
    height: 42px;
}

.logo a:hover {
    background-color: inherit !important;
}

.logo p {
    margin: -10px 0 0 40px;
    font-variant: small-caps;
    font-family: Verdana, sans-serif;
}

#mainNav .container {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}

#mainNav .row {
    margin: 0 0 3px 0;
}

.nav-icon {
    height: 14px !important;
}

.nav-item {
    margin: 0 2px;
}

.nav-link {
    padding: .25rem 1rem;
}

.nav-link {
    color: inherit !important;
    opacity: .5;
}

.active {
    border-bottom: 2px solid var(--primary-text-color);
    opacity: 1;
}

.nav-link > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link span {
    padding-right: .33rem;
}

.nav-icon {
    height: 14px;
    width: 14px;
    display: inline-flex;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 14px;
}

/** End Main nav **/

/** Editor menus **/

.editor-nav {
    padding: 3px;
}

.editor-nav .dropdown {
    margin: 0 2px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--primary);
}

.dropdown-menu li {
    margin-bottom: 0;
}

button.editor-menu-btn {
    border: none;
    min-width: 4.1rem;
    color: inherit;
}

button.editor-menu-btn:hover {
    text-decoration: underline;
}

.submenu {
    grid-area: submenu;
    border: 1px solid var(--border-color);
    background-color: var(--menu-bg-color);
    padding: 2px 3px 3px 3px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.editor-nav > button {
    margin: 0px 2px;
}

.with-key-commands {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.spacer {
    width: 8rem;
}

.right-submenu button,
.pretty-submenu button {
    margin: 0px .25rem;
    display: flex;
    align-items: center;
}

.right-submenu,
.pretty-submenu {
    display: inline-flex;
    margin: 0 3px;
}

.right-submenu {
    padding-left: 0rem;
}

.pretty-submenu button span {
    margin-left: .25rem;
}

#dynamicButtons > button {
    padding-bottom: 4px;
}
/** End Editor Menu **/

/** Editor layout **/
main,
#outputPanel.faucetImporter,
#help, #explorer, #faq {
    padding-top: 76px;
}

main.layout-side-by-side {
    grid-template-columns: 1fr 20px 1fr;
}

main.layout-output-only {
    grid-template-columns: 0 0 1fr;
}

main.layout-editor-only {
    grid-template-columns: 1fr 0 0;
}

main.layout-stacked {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

main.layout-side-by-side #outputPanel,
main.layout-output-only #outputPanel {
    display: block;
}

main.layout-editor-only #outputPanel {
    display: none;
}

main.layout-stacked #outputPanel,
main.layout-stacked #editorDiv {
    height: 50%;
    display: block;
}

/** End Editor layout **/

#editorDiv {
    grid-area: editorDiv;
    display: inline-block;
}

#centerCol {
    grid-area: centerCol;
    display: inline-block;
    background-color: var(--menu-bg-color);
    margin: 5px;
    padding: 0;
}

#outputPanel {
    grid-area: outputPanel;
    overflow:scroll;
    margin: 0px;
    padding: 5px;
    background-size: 40%;
    background-blend-mode: color;
}

#outputPanel.empty-output span {
    opacity: .5;
}


#outputPanel .contract, #outputPanel .execMessage  {
    padding: 0.5rem;
}

#outputPanel .execMessage, #outputPanel .recordList {
    margin-bottom: 1rem;
}


#outputPanel .contract,
#outputPanel .execMessage {
    overflow-x: auto;
}

.menu {
    grid-area: menu;
    overflow: hidden;
    border: none;
    background-color: var(--menu-bg-color);
    padding: 10px 10px;
    margin: 0px;
}

.menu a {
    padding: 1px 10px;
}


#help, #explorer, #faq, #outputPanel.faucetImporter {
    margin: 1rem 2rem;
}

/** Overwrite bootstrap modal lg max width **/
.modal-lg {
    max-width: 900px;
}

/** Overwrite bootstrap .close button color to work in dark mode **/
.close {
    color: var(--primary-text-color);
}

.selection{
    margin-left: 0px;
}

div.hidden {
    display: none;
}

div#terms {
    width: 80%;
    max-height: 60%;
}

div.on {
    margin-left: 20px;
    white-space: nowrap;
}

td.data {
    margin-left: 20px;
    padding-left: 20px;
}

input {
    width: 100px;
    font-size: 12px;
}

.no-margin-list li {
    margin: 0;
}

td.dataColumn {
    margin-left: 20px;
    padding-left: 20px;
    color: var(--dataColumn-color);
}

div.simulationBuilder {
    padding-left: 3px;
    background-color: var(--simulationBuilder-bg-color);
    margin-bottom: 20px;
}

.steps {
    border: 2px solid var(--border-color);
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

#outputPanel:not(.faucetImporter) > div {
    border: 1px solid var(--border-color);
}

.contract,
.execMessageOK {
    background-color: var(--output-bgok);
}

.execMessageKO {
    background-color: var(--output-bgko);
}

/* div.python {
    border-left: 3px solid #aaaaaa;
    background-color: #ffeeee;
}
*/

/* .michelson {
    background-color: var(--output-bg);
} */

pre {
    color: inherit;
}

input.smallCheck {
    margin: 0px;
    padding: 0px;
    width: 15px;
}

textarea.smallMultilineArea,
#shareLink,
#loadLink{
    width:100%;
    height: 60%;
    font-size: 15px;
    font-family: monospace;
}

div.michelsonLine {
    padding-left: 2em;
    text-indent:-2em;
}

.white-space-pre,
.white-space-pre-wrap {
    font-family: monospace;
    white-space: pre;
    overflow-x: scroll;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

div.message {
    border-left: 1px solid var(--border-color);
    background-color: #fafad2;
}
/* div.messageBox {
    float : left;
    background-color: #dddddd;
    padding : 3px;
    margin-right:5px;
} */

/* div.event {
    border-left: 1px solid #aaaaaa;
    background-color: #f6e1ff;
} */
/* div.eventBox {
    float : left;
    background-color: #dddddd;
    padding : 3px;
    margin-right:5px;
} */

/* div.scenario {
    background-color: #fdd598;
    padding-left : 30px;
    margin-right:15px;
} */

/* div.scenario1 {
    background-color: #fdd598;
    padding-left : 10px;
    margin-right:15px;
    border-left: 2px solid #444444;
    margin-left: 10px;
}

div.scenario2 {
    background-color: #d5fd98;
    padding-left : 10px;
    margin-right:15px;
    border-left: 2px solid #444444;
    margin-left: 10px;
}

div.scenario3 {
    background-color: #fd98d5;
    padding-left : 10px;
    margin-right:15px;
    border-left: 2px solid #444444;
    margin-left: 10px;
} */


div.error {
    border-left: 1px solid #aaaaaa;
    background-color: var(--output-bgko);
}

div.effect {
    border-left: 1px solid #aaaaaa;
    background-color: #ccccff;
}

div.effectBox {
    float : left;
    background-color: #dddddd;
    padding : 3px;
}

div.transition {
    border-left: 3px solid #cccccc;
    background-color: #eeeeee;
    padding: 5px;
}

div.reset {
    clear:both;
}

div.subtype {
    margin-left: 1px;
    padding-left: 2px;
    border-left: 2px solid #eeeeee;
}

div.indent5 {
    padding-left: 0ex;
}

a {
    color: var(--link-color);
    background-color: inherit;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin:0px;
}

a[href]:hover {
    background-color: var(--button-hover-color);
    color: var(--primary-text-color);
}

a.active{
    font-weight: bold;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    cursor: default;
}

/* Mozilla-specific padding fix */
@-moz-document url-prefix() {
    .submenu {
        padding-top: 3px;
        margin-bottom: 1px;
    }
}

.execMessageAlice {
    margin-right: 10%;
}

.execMessageBob {
    margin-left: 10%
}

.tab {
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--menu-bg-color);
}

/* Style the buttons that are used to open the tab content */
.tab .title {
    float: left;
    padding: 10px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 10px;
    transition: 0.3s;
    opacity: .6;
    margin:3px;
}

.tab button:hover,
.tab button.active {
    background-color: var(--button-hover-color);
    opacity: 1;
}

/* Style the tab content */
.tabs {
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
}
.tabcontentalways {
    padding: 6px 12px;
    border-top: none;
}
.tabcontent {
    padding: 6px 12px;
    border-top: none;
}
.tabcontentshow {
    background-color: tabcontenshow-bg-color;
    display: block;
    padding: 6px 12px;
    border: 1px solid #cccccc;
    border-top: none;
}

.centertextbutton
{
    text-decoration: none;
    color: var(--link-color);
    background-color: inherit;
    border: 1px solid var(--link-color);
    padding:5px;
    margin-right: 5px;
    border-radius: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    line-height: 1.1rem;
}

.extramarginbottom
{
    margin-bottom: 5px;
}

.centertextbutton[onclick]:hover {
    background-color: #f1f1f1; /** intentionally always the same color */
    cursor: pointer;
}

.centertextbutton:not([onclick]):hover {
    cursor: default;
}
input[type="checkbox"]:hover {
    cursor: pointer;
}

.recordList {
    border-collapse: collapse;
}

.recordList th {
    color: #880000;
    border-collapse: collapse;
}

.recordList td {
    padding: 1px;
    border: 1px solid var(--primary-text-color);
    border-style: solid;
    vertical-align: top;
}

.bytes {
  max-width: 120px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: var(--code-store-color);
  text-overflow: ellipsis;
  font-family : monospace;
}

.key {
  width: 120px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: var(--key-address-color);
  text-overflow: ellipsis;
  font-family : monospace;
}

.signature {
  width: 120px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #44aaaa;
  text-overflow: ellipsis;
  font-family : monospace;
}

.address {
  width: 120px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: var(--key-address-color);
  text-overflow: ellipsis;
  font-family : monospace;
}



.timestamp {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: var(--timestamp-color);
  text-overflow: ellipsis;
  font-family : monospace;
}

.mutez {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: #66AA00;
  text-overflow: ellipsis;
  font-family : monospace;
}

#contractId{
  width: 300px;
  font-family : monospace;
}

#accountId{
  width: 300px;
  font-family : monospace;
}

#providerId{
  width: 300px;
  font-family : monospace;
}

.preview {
    min-height: 100px;
    overflow: scroll;
    border: 1px solid black;
    font-family : monospace;
    border-radius: .3rem;
    padding: .3rem;
}

.protocolBox {
    border: 1px solid #ccc;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.input-error {
    color: var(--danger-color);
    text-align: center;
}

.load-contract {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.load-contract button {
    margin: .3rem 0;
    padding: .3rem .5rem;
    align-self: flex-start;
}

@media(max-width: 568px) {
    #help, #explorer, #faq, #outputPanel.faucetImporter {
        margin: 1rem .5rem;
    }
    .right-submenu {
        padding-left: .5rem;
        border-left: none;
    }
    .spacer {
        width: 5rem;
    }
}

span.fieldName {
    display: inline-block;
    color: #444488;
    min-width: 100px;
  }

  /**
    * Code Highlighting
    **/
  span.channel {
    color: #8888ff;
  }

  span.type {
    color: var(--code-type-color);
  }

  span.partialType {
    color: #ff4444;
  }

  span.variable {
    color: var(--code-variable-color);
  }

  span.store {
    color: var(--code-store-color);
  }


  span.param {
    color: #888800;
  }

  span.iter {
    color: #008800;
  }

  span.keyword {
    color: #bb4488;
  }

  span.conditions {
    color: #55aa55;
  }

  span.constant {
    color: var(--code-constant-color);
  }

  span.cons {
    color: #0000aa;
  }

  span.record {
    color: #4288aa;
  }

  span.conditions span {
    color: #55aa55;
  }

  span.gas {
    color: orange;
  }

  span.analysis {
    color: orange;
  }

  span.self {
    color: #0099aa;
  }

  span.comment {
    color: var(--code-comment-color);
  }

  span.stack {
    color: #0088aa;
  }

  span.ctt {
    color: lightblue;
  }

code, span.command {
    background-color: hsla(0, 0%, 0%, 0.04);
    color: #444488;
}
