<a href="https://smartpy.io/demo/"></a>
<a href="https://smartpy.io/demo/smartpy.py"></a>
<a href="https://smartpy.io/ace-builds/src-noconflict/mode-haskell.js"></a>
<a href="https://smartpy.io/ace-builds/src-noconflict/mode-python.js"></a>
<a href="https://smartpy.io/ace-builds/src-noconflict/theme-monokai.js"></a>
<a href="https://smartpy.io/demo/templates/index.html"></a>
