<h1>Reference Examples</h1>

<button class='centertextbutton' onClick="setDialogAjax('Select template', 'templates/select.html');">Open Regular Templates</button>

<h2>Syntax Examples</h2>

<p><button class="text-button" onclick="loadTemplate('welcome.py')">Welcome</button>
  <br>A small example with a very simple storage and only one small entry point.

<p><button class="text-button" onclick="loadTemplate('syntax.py')">Syntactic Constructions</button>
  <br>Several syntax examples.

<p><button class="text-button" onclick="loadTemplate('stringManipulations.py')">Strings and Bytes</button>
  <br>Using <span class='code'>sp.len</span>, <span class='code'>+</span>, <span class='code'>sp.concat</span>, <span class='code'>e.slice(.., ..)</span>.

<p><button class="text-button" onclick="loadTemplate('testLists.py')">Lists</button>
  <br>Creation, iteration, construction from maps and sets, ranges.

<p><button class="text-button" onclick="loadTemplate('testVariant.py')">Options, Enums and Variants</button>
  <br>Using <span class='code'>sp.is_variant</span>, <span class='code'>sp.open_variant</span>, <span class='code'>sp.is_some</span>, <span class='code'>sp.open_some</span>, <span class='code'>sp.match</span>.

<p><button class="text-button" onclick="loadTemplate('testCheckSignature.py')">Cryptographic Signatures</button>
  <br>Using <span class='code'>sp.check_signature</span>.

<p><button class="text-button" onclick="loadTemplate('testHashFunctions.py')">Hash Functions</button>
  <br>Using <span class='code'>sp.blake2b</span>, <span class='code'>sp.sha256</span>, <span class='code'>sp.sha512</span>.

<p><button class="text-button" onclick="loadTemplate('collatz.py')">On Chain Contract Calls - Collatz</button>
  <br>Using <span class='code'>sp.contract</span>, <span class='code'>sp.transfer</span>, <span class='code'>sp.self</span>.

<p><button class="text-button" onclick="loadTemplate('bakingSwap.py')">Baking Swap</button>
  <br>Use of <span class='code'>sp.set_delegate</span>, <span class='code'>sp.sender</span>, <span class='code'>sp.now</span>, <span class='code'>sp.amount</span>.

<p><button class="text-button" onclick="loadTemplate('inlineMichelson.py')">Inline Michelson</button>
  <br>Direct inlining of Michelson code in SmartPy.

<p><button class="text-button" onclick="loadTemplate('checkLanguage.py')">Check Language Constructions</button>
  <br>Many computations compared between pure Python and SmartPy.

<p><button class="text-button" onclick="loadTemplate('decompilation.py')">Decompilation Test</button>
  <br>A very simple toy example to show how decompilation can work in SmartPy thanks to its meta-programming capabilities.
